.colorprincipal{

    background-color:rgb(32, 109, 145);
}

.btn-primary{
    background-color: rgb(20, 10, 167) ;
    border-color:darkgoldenrod;
}

.btn-primary:hover{
    background-color: rgb(219, 177, 38);
    border-color:rgb(14, 6, 133);
}



.fondo{

background-image: url("./img/fondo\ \ .jpg");
background-position: top center;
background-size: cover;
padding: 25%;
background-attachment: fixed;


}



.fondo{

background-image: url("./img/fondo\ 2.jpg");
background-position: top center;
background-size: cover;
padding: 25%;
background-attachment: fixed;


}